extends base.pug

block style 
    style
      include ../static/styles/base.css
      include ../static/styles/clients.css

block scripts

block content
    main.wrapper
        section.container 
            table(border='1')
                tr
                    th OUR CLIENTS
                tr
                    td Zilla Parishad, Akola. 
                tr
                    td M.A.I.D.C (H.O), Mumbai. 
                tr
                    td Agri. Engg Workshop, Pune. 
                tr
                    td Akola Muncipal Corporation, Akola.
                tr
                    td  Leben Lab, Akola. 
                tr
                    td Collector Office, Akola. 
                tr
                    td M.S.E.D.C.L, Akola.
                tr
                    td Public Works Division, Akola. 
                tr
                    td Minor Irrigation Department, Akola
                tr
                    td Dept. Director of Health Services, Akola.
                tr
                    td Dist. Rural Development Agency, Akola.
                tr
                    td Regional Police Training School, Akola. 
                tr
                    td Dist. Govt. Hospital, Akola.
                tr
                    td Dist. Sports Office, Akola.
                tr
                    td Food & Drugs Office, Akola.
                tr
                    td Dist. Forest Conservator Office, Akola 
                tr
                    td Wilde Life Office, Akola
                tr
                    td N.R.H.M., Akola.
                tr
                    td Dist. Information Office, Akola.
                tr
                    td Provident Fund Office, Akola, 
                tr
                    td Employment Office, Akola.
                tr
                    td Sale Tax, Department, Akola,
                tr
                    td MIL, Akola.
                tr
                    td Rallis India Ltd. Akola.
                tr
                    td Akola Chemicals India Ltd. Akola.
                tr
                    td Hitek pharma, Akola.
                tr
                    td Delta TVS, Akola.     
                tr
                    td Hotel Greenland cottages, Akola. 
                tr
                    td SAI Agrotech, Yavatmal.
                tr
                    td Poonam jewellers, Akola.
                tr
                    td  RRC Cable Network, Akola.
                tr
                    td A.P.M.C. Akola.
                tr
                    td  Dr.Bhagde Hospital, Akola
                tr
                    td Shri Hari Bhavan, Akola
                tr
                    td Siddheshwar Ganraya Residency
                tr
                    td Shri. Jain Mandir, Borgaon.
                tr
                    td Maratha Mandal, Akola.
                tr
                    td.lastChild Vednandini Agri Food Court, Akola
        
    
    